// https://css-tricks.com/browser-compatibility-css-grid-layouts-simple-sass-mixins/
// https://www.youtube.com/watch?v=AS9QgrG2oXo
// https://www.w3schools.com/css/css_grid.asp
// https://css-tricks.com/introduction-fr-css-unit/

// From this documentation, I could learn how to implement mixin grid to create a resposive layout easier with saass

$maincolor: rgb(255, 0, 255);

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}


main{
   padding: 0.6rem;
}

.contact-container{

.info-container{
    @include grid(22rem);
    
  
    .info{
        width: 25rem;
        padding: 0.7rem;
        border-radius: 1.5rem;
        background-color: #faeaf0;
        margin-bottom: 2rem;
    // background-color: blanchedalmond;
        text-align: center;
        // cursor: pointer;

        i{
            color: $maincolor;
            background-color: white;
            font-size: 1.5rem;
          height: 2.8rem;
          width: 2.8rem;
          line-height: 2.8rem;         
border-radius: 2rem;
text-align: center;
        }

h3{
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.8rem;
   
}

p{
    color: black;
    font-family: 'Readex Pro', sans-serif;
}

        }



    }

    .form-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
       

        form{
            flex: 1 41rem;
            border-radius: 1rem;
            background-color: #f5f5f5;
            

            h3{
                color: $maincolor;
                font-family: 'Readex Pro', sans-serif;
                margin-bottom: 0.5rem;
                padding: 1rem;
 
            }

            .inputs, textarea{
            width: 95%;
            padding: 1rem 2rem;
            margin-top: 0.5rem;
            background: white;
          border-color: $maincolor;
            border-radius: 0.5rem;

            }

            a{
              background-color: green;
            }
        }

        .frame{
            flex: 1 41rem;
            flex-wrap: wrap;
            border-radius: 1rem;
           
        }
    }

}


   



