@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

.deals-items{
    @include grid(22rem);
    .card{
       margin: 0 auto;
       margin-bottom: 1rem;
    }
}


@media(max-width: 400px){
    .firstinfo{
        img{
            display: none;
        }

        .image1-text{
            display: inline;
            position: relative;
            margin: 0 auto;
            padding-top: 2rem;
            padding-right: 2rem;
            margin-bottom: 1rem;
        }
    }
}