@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Patrick+Hand&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.headerproducts{
    background-image: url("../images/header-bg.jpeg");
    height: calc(100vh - 150px);
    background-size: cover;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.headerproducts :first-child{
    font-family: 'Freehand', sans-serif;
    padding-top: 10%;
    font-size: 350%;
    color: rgb(255, 0, 255);
}

.headerproducts :nth-child(2){
    color: black;
    font-family: 'Patrick Hand';
    font-size: 150%;
    text-align: center  ;
    display: block;
}

.containerProducts{
    display: grid; 
    align-items: center;
    grid-template-columns: 290px 290px 290px;
    grid-gap:  10px 40px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.card, .form{
    width: 18rem;
    height: 29rem;
}

/* Big screens */
@media (max-width:2048px){
    .headerproducts{
        height: calc(40% - 150px);


    }
    .containerProducts
    {
padding-right: 10%;        
        grid-gap:  10px 40px;
    }

    .containerProducts .card{
        width: 20rem;
     }
}

/* This reference is from !pad pro */
@media (max-width:1200px) 
{
    .headerproducts{
        /* height: calc(40% - 60px);  */
        height: 10%;
    }

    .containerProducts{
        display: grid;
        margin-left: -50px;
        grid-template-columns: 300px 300px 300px;
         grid-gap:  40px 2px;
        /* padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 10%; 
        align-items: center;
    grid-template-columns: 290px 290px 290px;
    grid-gap:  10px 40px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%; */
    }

    .containerProducts .card{
       width: 12rem;
    }
    }

    @media (max-width: 820px) 
{
    .containerProducts
    {
        margin-right: 10%;
        margin-left: 10%;
        grid-gap:  10px 40px;
    }

}

    

   
